.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-container__details {
  background-color: #cdb225;
  padding: 5px;
  border: 3px solid #e39b33;
  margin: 0 auto;
}

.fighter-item__detail_title {
  text-align: center;
  text-transform: uppercase;
}
.fighter-item__detail__align_right {
  display: flex;
  justify-content: space-between;
}
